{% extends "layout.html" %}

{% block title %}Detalle de Usuario{% endblock %}

{% block content %}
<h2>Información Detallada</h2>

<div class="card">
    <p><strong>Alumno:</strong></p>
    <div>
        <a href="{{ url_for('alumnos.editar', dni=usuario.get_dni()) }}">
            &#9999; Modificar
        </a>
    </div>

    <p><strong>DNI:</strong> {{ usuario.get_dni() }}</p>
    <p><strong>Nombre Completo:</strong> {{ usuario.get_nombre() }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.get_email() }}</p>


    {% if usuario.get_asignaturas()|length>0 %}
    <div class="card">
        <p><strong>Asignaturas:</strong></p>
        <table>
            {% for asignatura in usuario.get_asignaturas() %}
            <tr>
                <td>{{ asignatura.get_nombre() }}</td>
                <td>{{ asignatura.get_nota() }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="card">
        <h4>Calificar</h4>
        <form action="{{ url_for('alumnos.calificar') }}" method="POST">
            <input type="hidden" name="dni" value="{{ usuario.get_dni() }}">

            <select name="nombre_asignatura" required style="flex-grow: 1; padding: 5px;">
                <option value="" disabled selected>Selecciona una asignatura...</option>
                {% for asig in usuario.get_asignaturas() %}
                <option value="{{ asig.get_nombre() }}">{{ asig.get_nombre() }}</option>
                {% endfor %}
            </select>

            <input type="number" step="0.01" name="nota" required>

            <button type="submit">
                Calificar
            </button>
        </form>
    </div>
    {% else %}
    <p><strong>Sin asignaturas</strong></p>
    {% endif %}
    <div class="card">
        <h4>Matricular en nueva asignatura</h4>
        <form action="{{ url_for('alumnos.matricular') }}" method="POST">
            <input type="hidden" name="dni" value="{{ usuario.get_dni() }}">

            <select name="nombre_asignatura" required style="flex-grow: 1; padding: 5px;">
                <option value="" disabled selected>Selecciona una asignatura...</option>
                {% for asig in asignaturas_sistema %}
                <option value="{{ asig }}">{{ asig }}</option>
                {% endfor %}
            </select>

            <button type="submit">
                Matricular
            </button>
        </form>
    </div>
</div>

<br>
<form action="{{ url_for('alumnos.eliminar', dni=usuario.get_dni()) }}" method="POST"
    onsubmit="return confirm('¿Seguro que quieres eliminar este usuario?');">
    <button type="submit">🗑️</button>
</form>
<a href="{{ url_for('alumnos.listar', dni=usuario.get_dni(), rol=usuario.get_rol()) }}">Cancelar</a>
{% endblock %}