{% extends "layout.html" %}

{% block title %}Detalle de Usuario{% endblock %}

{% block content %}
    <h2>Información Detallada</h2>
    
    <div class="card">
        {% if usuario.__class__.__name__ == 'Alumno' %}
            <p><strong>Alumno:</strong></p>
            <div>
                <a href="{{ url_for('alumnos.editar', dni=usuario.get_dni()) }}">
                    &#9999; Modificar
                </a>
            </div>
        {% elif usuario.__class__.__name__ == 'Profesor' %}
            <p><strong>Profesor:</strong></p>
            <div>
                <a href="{{ url_for('profesores.editar', dni=usuario.get_dni()) }}">
                    &#9999; Modificar
                </a>
            </div>
        {% endif %}
        <p><strong>DNI:</strong> {{ usuario.get_dni() }}</p>
        <p><strong>Nombre Completo:</strong> {{ usuario.get_nombre() }}</p>
        <p><strong>Correo Electrónico:</strong> {{ usuario.get_email() }}</p>
        
        {% if usuario.__class__.__name__ == 'Alumno' %}
            {% if usuario.get_asignaturas()|length>0 %}
                <div class="card">
                    <p><strong>Asignaturas:</strong></p>
                    <table>
                        {% for asignatura in usuario.get_asignaturas() %}
                        <tr>
                            <td>{{ asignatura.get_nombre() }}</td>
                            <td>{{ asignatura.get_nota() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
             {% else %}
             <p><strong>Sin asignaturas</strong></p>
             {% endif %}
             <div class="card">
                <h4>Matricular en nueva asignatura</h4>
                <form action="{{ url_for('alumnos.matricular') }}" method="POST">
                    <input type="hidden" name="dni" value="{{ usuario.get_dni() }}">
                    
                    <input type="text" name="nombre_asignatura" list="lista-asignaturas" 
                   placeholder="Escribe o selecciona..." required style="flex-grow: 1; padding: 5px;">
            
                    <datalist id="lista-asignaturas">
                        {% for asig in asignaturas_sistema %}
                            <option value="{{ asig }}">
                        {% endfor %}
                    </datalist>
                    
                    <button type="submit">
                        Matricular
                    </button>
                </form>
            </div>
        {% elif usuario.__class__.__name__ == 'Profesor' %}
            <p><strong>Especialidad:</strong> {{ usuario.get_especialidad() }}</p>
            <p><strong>Salario:</strong> {{ usuario.get_salario() }}</p>
        {% endif %}
    </div>

    <br>
    <form action="{{ url_for('main.eliminar_usuario', dni=usuario.get_dni()) }}" method="POST"
        onsubmit="return confirm('¿Seguro que quieres eliminar este usuario?');">
        <button type="submit">🗑️</button>
    </form>
{% endblock %}