{% extends "layout.html" %}

{% block title %}Editar profesor{% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="col-md-5 mx-auto">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title mb-3 text-primary">Editar profesor</h5>
                <form action="{{ url_for('profesores.actualizar') }}" method="POST">
                    <input type="number" name="id" value="{{usuario.get_id()}}" hidden>

                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" id="dni" name="dni" class="form-control"
                            value="{{ usuario.get_dni() if usuario else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control"
                            value="{{ usuario.get_nombre() if usuario else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control"
                            value="{{ usuario.get_email() if usuario else '' }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <select name="especialidad" class="form-select form-select-sm" required>
                            <option value="" disabled>Selecciona una asignatura...</option>
                            {% for asig in asignaturas_sistema %}
                            <option value="{{ asig }}" {% if asig==usuario.get_especialidad() %}selected{% endif %}>
                                {{ asig }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="salario" class="form-label">Salario</label>
                        <input type="number" id="salario" name="salario" step="0.01" class="form-control"
                            value="{{ usuario.get_salario() if usuario else '' }}" required>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{{ url_for('profesores.detalle', dni=usuario.get_dni(), rol=usuario.get_rol()) }}"
                            class="btn btn-secondary">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}