<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<!-- Título que aparece en la pestaña del navegador -->
<title>{% block title %}Mi centro escolar web{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
<h1>🌐 Mi Centro Escolar</h1>
<nav>
<a href="{{ url_for('main.home') }}">Inicio</a> |
{% if session.get('role') == 'admin' %}
<a href="{{ url_for('main.listar_usuarios') }}">Usuarios</a>
<a href="{{ url_for('main.sql_libre') }}">SQL Libre</a>
{% endif %}
{% if session.get('dni') %}
    <a href="{{ url_for('main.listar_estadisticas') }}">Estadísticas</a>
    <span>Hola, {{ session['nombre'] }} ({{ session['role'] }})</span>
    <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>
{% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
{% endif %}
</nav>
</header>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
    <!-- Contenido específico de cada página -->
    {% endblock %}
</main>
<footer>
<p>© 2026 Mi Sitio Web</p>
</footer>
</body>
</html>