{% extends "layout.html" %}

{% block title %}Lista de usuarios{% endblock %}

{% block content %}
    <h2>Listado de usuarios</h2>
    <div>
        <a href="{{ url_for('alumnos.formulario') }}">
            ➕ Alta Alumno
        </a>
    </div>
    <div>
        <a href="{{ url_for('profesores.formulario') }}">
            ➕ Alta Profesor
        </a>
    </div>
    <form action="{{ url_for('main.buscar_usuario') }}" method="POST">
        <input type="text" name="dni">
        <button type="submit">🔍</button>
    </form>
    <table>
        <caption>Alumnos</caption>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        {% for usuario in alumnos %}
        <tr>
            <td>
                <a href="{{ url_for('main.detalle_usuario', dni=usuario.get_dni()) }}">
                {{ usuario.get_dni() }}
                </a>
            </td>
            <td>{{ usuario.get_nombre() }}</td>
            <td>{{ usuario.get_email() }}</td>
            <td>
                <form action="{{ url_for('main.eliminar_usuario', dni=usuario.get_dni()) }}" method="POST"
                    onsubmit="return confirm('¿Seguro que quieres eliminar este alumno?');">
                    <button type="submit">🗑️</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Profesores</caption>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Especialidad</th>
        </tr>
        {% for usuario in profesores %}
        <tr>
            <td>
                <a href="{{ url_for('main.detalle_usuario', dni=usuario.get_dni()) }}">
                {{ usuario.get_dni() }}
                </a>
            </td>
            <td>{{ usuario.get_nombre() }}</td>
            <td>{{ usuario.get_email() }}</td>
            <td>{{ usuario.get_especialidad() }}</td>
            <td>
                <form action="{{ url_for('main.eliminar_usuario', dni=usuario.get_dni()) }}" method="POST"
                    onsubmit="return confirm('¿Seguro que quieres eliminar este profesor?');">
                    <button type="submit">🗑️</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}