{% extends "layout.html" %}

{% block title %}Lista de usuarios{% endblock %}

{% block content %}
    <h2>Listado de usuarios</h2>
    <div>
        <a href="{{ url_for('alumnos.formulario') }}">
            ➕ Añadir Nuevo Alumno
        </a>
    </div>
    <div>
        <a href="{{ url_for('profesores.formulario') }}">
            ➕ Añadir Nuevo Profesor
        </a>
    </div>
    <table>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        {% for usuario in lista %}
        <tr>
            <td>
                <a href="{{ url_for('main.detalle_usuario', dni=usuario.get_dni()) }}">
                {{ usuario.get_dni() }}
                </a>
            </td>
            <td>{{ usuario.get_nombre() }}</td>
            <td>{{ usuario.get_email() }}</td>
            <td>
                <form action="{{ url_for('main.eliminar_usuario', dni=usuario.get_dni()) }}" method="POST"
                    onsubmit="return confirm('¿Seguro que quieres eliminar este usuario?');">
                    <button type="submit">🗑️</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}